@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Switch Styles with Toggle Icon */
.switch {
  background-color: gray;
  border-radius: 9999px;
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 9999px;
}

.switch input:checked + .slider {
  background-color: black;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: black;
  transition: .4s;
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}

/* Toggle Icon Styles */
.switch .slider .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  transition: opacity 0.4s;
}

.switch input:checked + .slider .icon {
  opacity: 1;
}

